header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 span {
  color: #F0EAB1;
}

#land {

}

.wrapper {
  max-width: 1000px;
  margin: auto;
}

.btn {
  background-color: #FFDF39;
  padding: 15px;
  font-weight: bold;
}
